#accueilPane {
	-fx-background-image:url("background.jpg") ;
	-fx-background-position: center center;
    -fx-background-size: 1920 1080;
}
#inscriptionPane {
	-fx-background-image:url("inscription-background.jpg");
	-fx-background-position: center center;
	-fx-background-size: 1920 1080;
}
#connexionPane{
	-fx-background-image:url("connexion-background.jpg");
	-fx-background-position: center center;
	-fx-background-size: 1920 1080;
}
#utilisateurPane{
	-fx-background-image:url("utilisateur-background.jpg");
	-fx-background-position: center center;
	-fx-background-size: 1920 1080;
}
#couleurBlanche{
	-fx-text-fill: white;
}
#grideu {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: gray;
    -fx-background-color: rgba(255,255,255,0.5);
}