h1
{
color:blue;
}
span{
color:green;
font-size : 10px;
}
body {
font-family:century;
font-size : 1em

}
p {margin : 1em 30px 0 30px}
h2{
margin:10% 30% 0 30%
}
ul{
background-color:red;

}
#wiwi{
background-color:orange;
}
#wiwi ul{
font-size:13px;
}
ul li{
display:none
}

 
ul:hover li {
display:block;
position:relative;
top:0;
left:-25px;
}

