<head>
 <link rel="stylesheet" href="css3.css"> 
<meta charset="utf-8" />
</head>

<h2> uyyoui </h2> 

<h1> hjj </h1>

<body>
zeaazeazea<span>zea</span>zeazeazefgfhfgh
</body>

<p> uyyouigvvjh </p> 
<p> uyyouighgh </p> 
<p> uyyouighbj </p> 

<div id="wiwi">
	
</div> 


    <ul>
<p>
	recette Tarte au poire
	</p>
<li>Etape 1
    Préchauffez le four à 180°C.</li>
    <li>Etape 2
    Garnissez un moule rond à bords hauts avec la pâte. Lavez, pelez, et coupez les poires en deux</li>
    <li>Etape 3
    Mélangez dans un bol la crême, le jaune d'oeuf, le sucre, la poudre d'amandes et l'armagnac.</li>
    <li>Etape 4
    Nappez le fond de la pâte avec la crème, puis disposez les demi-poires en fleur cote bombe sur le dessus en les enfoncant légèrement dans la crême.</li>
    <li>Etape 5
    Enfournez le tout 30 mn.</li>
</ul>
<div id="wiwi">
<ul>
<p>
	recette Tarte au poireau
	</p>
    <li>1 pâte brisée
    <li>3 beaux poireaux
    <li>150 g de petits lardons
    <li>25 cl de crème liquide (ou crème fraîche)
    <li>15 cl de lait
    <li>125 g de fromage râpé ( gruyère, emmental )
    3 œufs
    <li>Sel, poivre
</li>
	</ul>
</div> 

